/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #88ABFF;

}
.wrapper
{
 margin: 50px;
 display: grid;
 grid-template-columns: repeat(auto-fill,265px);
}
.wrapper li
{
    background: #fff;
    height: 250px;
    list-style: none;
    border-radius:5px ;
    padding: 15px 20px 20px;

}
.add-box, .icon, .bottom-content,
 .setting .menu li, .popup, header
{
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
.add-box icon
{
    border: 2px dashed #88ABFF;
    height: 78px;
    width: 78px;
    border-radius:50%;
}
.popup-box
{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: red;
    background:rgba(0,0,0,0.4);
}
.popup-box .popup
{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    max-width: 400px;
    width: 100%;
   background: red;
    transform: translate(-50%,-50%);
}
.popup-box, .popup-box .popup
{
    opacity: 0;
    pointer-events: none;
}
.popup .content
{
    width: calc(100% -15px);
    border-radius: 5px;
    background: #fff;
}
.popup .content header
{
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
}
.content header p
{
    font-size: 20px;
    font-weight: 500;
}
.content header i
{
    color: #8b8989;
    cursor: pointer;
    font-size: 23px;
}
.content form
{
    margin: 15px 25px 35px;
}
.content form .row
{
 margin-bottom: 20px;
}
form .row label
{
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
 
}
.content form :where(input,textarea)
{
 width: 100%;
 height: 50px;
 outline: none;
 font-size: 17px;
 padding: 0 15px;
 border-radius: 4px;
 border: 1px solid #999;

}
.content form textarea
{
    height: 150px;
    resize:none;
     padding: 8px 15px;
}

.content form button
{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #6a93f8;
    color: #fff;
    border-radius: 4px;
}
 */
body
{
 overflow: scroll;
}
.popup-box
{
    position:fixed;
   display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgb(0,0,0,0.4);
}
.popup-hidden
{
 display: none;
background-color: aqua;
}


.popup
{
    background-color: aliceblue;
    
}
.content
{
    background-color: rgb(174, 207, 140);
    height: 350px;
    width: 400px;
}
.cross
{
    background-color: red;
    cursor: pointer;
    
    margin-left: 380px;
}
.cross :active
{
    background-color: rgb(202, 96, 96);
}
.add-box icon
{
    
    cursor: pointer;
    border: 50%;
    border: 2px dashed ;
}
.add-box, .icon, .bottom-content,
 .setting .menu li, .popup, header
{
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
cursor: pointer;
}

.add-note
{
    background-color: rgb(36, 212, 36);
    border: none;
    margin-top: 200px;
    margin-left: 180px;
    cursor: pointer;
}
.row-title input
{
    height: 30px;
    width: 300px;
    margin-left: 45px;
}
.row-description textarea
{
    position: fixed;
    margin-top: 10px;
    margin-bottom: 20px;
   resize: none;
   height: 180px;
   margin-left: 4px;
   width: 300px;
}
.wrapper 
{
   position: fixed;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,265px);
    grid-template-rows: repeat(auto-fill,265px);
    gap: 40px;
}
.wrapper li
{
    height: 200px;
    list-style: none;
    background-color: rgb(213, 228, 99);
    border-radius: 5px;
    padding: 15px 20px 20px;
}
.bottom-content 
{
    margin-top: 110px;
    background-color: aliceblue;
    overflow: hidden;
}
.bottom-content i
{
    cursor: pointer;
}
.dropdownmenu
{
 height: 0px
}
.dropdown a
{
    display: block;
    text-decoration: none;
    font-size: 20px;
}

